// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters-table {
  thead { 
    th {
      padding: 10px 20px;

      &.center {
        text-align: center;
      }
    }
  }
  tbody {
    td {
      vertical-align: inherit;
      padding: 10px 20px;

      &.center {
        text-align: center;
      }

      &.attribute {
        .fa {
          font-size: 1.5rem;
          color: #3d3d3d;

          &.fa-check-square {
            background-color: lime;
            line-height: 1rem;
          }
        }
      }
    }
  }
}

.characters-form {
  .form-control {
    &[type=checkbox] {
      width: 30px;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }

  .flex-center {
    display: flex;
    justify-content: center;

    .flex-form-wrapper {
      width: 100%;
      text-align: center;

      .form-control[type=checkbox] {
        margin: 0 auto;
      }
    }
  }
}
