.groups {
  .group {
    .font-0 {
      font-size: 0px;
    }
    .role-icon {
      width: 30px;

      &.role-icon-offset {
        margin-left: -42px;
        margin-right: 5px;
      }

      &.thin {
        margin-left: -33px;
        margin-right: -3px;
      }
    }
  }
}